body {

    font-family: 'Kanit', sans-serif;
}

.nav-social {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background: linear-gradient(100.15deg, #1896C5 12.48%, #65CDF3 86.59%);
    color: #ffff;
}

.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

.nav-li {
    float: left;
}

.nav-a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
}


.svg-social {
    height: 20px;
    width: 20px;
}


p {
    font-size: clamp(16px, 2.5vm, 16px);
}

.logo-phayao {
    width: 120px;
    height: 5%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(102, 100, 100);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(0, 179, 255);
}

.select-language {
    color: #ffff;
    text-decoration: none;
}
.search {
    width: 100%;
}
.nav-link{
    font-size: 15px;
}


@media only screen and (max-width: 1200px) {
    .nav-link {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-link {
        font-size: 10px;
    }

}


@media only screen and (max-width: 820px) {


    .search {
        width: 400px;
    }

    .nav-link {
        font-size: 16px;
    }



}


@media only screen and (max-width: 450px) {

    .nav-social {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        overflow: hidden;
        background: linear-gradient(100.15deg, #1896C5 12.48%, #65CDF3 86.59%);
        color: #ffff;
        font-size: 80%;
        display: none;
    }

    .svg-social {
        height: 15px;
        width: 15px;
        display: none;
    }

    .logo-phayao {
        display: none;
    }

    .search {
        width: 200px;
    }



}


@media only screen and (max-width: 376px) {
    .search {
        width: 150px;
    }

}
