body {
    overflow-x: hidden;
}

.banner-slider {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.padding-footer {
    padding-top: 280px;
}

.line-header {
    margin: auto;
    background-color: #00AEEF;
    width: 150px;
    padding-top: 5px;
}

.map {
    height: 100%;
}

.banner-placeHit {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.text-head1-placeHit {
    font-size: 50px;
    color: #00AEEF;
}

.text-head2-placeHit {
    font-size: 30px;
    color: rgba(0, 174, 239, 0.8);
}

.text-content-placeHit {
    font-size: 18px;
    word-wrap: break-word;
}

.video-placeHit {
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.text-head-content-placeHit {
    margin: auto;
    width: 60%;
    color: #535151;
    text-align: center;
    padding-top: 10px;
}

.text-card-add-placeHit {
    color: #9B9898;
    font-size: 12px;
}

.text-card-content-placeHit {
    font-size: 12px;
}

.text-review-placeHit {
    color: #9B9898;
    font-size: 12px;
}

.bi-star-fill {
    color: #FFDE17;
}

.button-placeHit {
    color: #fff;
    border-radius: 5%;
    background-color: #00AEEF;
}

.img-card-placeHit {
    border-radius: 5px;
    width: 100%;
    height: 185px;
    object-fit: cover;

}

.featured-placeHit {
    background-color: #FDB85A;
    width: 70px;
    padding: 7px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.padding-card-placeHit {
    text-align: center;
    padding-bottom: 10px;
    z-index: 1;
}



.wrapper {
    /* padding: 70px 0; */
    overflow-x: hidden;
}


.my-slider {
    padding: 0 70px;
}




.slick-next,
.slick-prev {
    z-index: 5;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
}

.slick-next:before,
.slick-prev:before {
    color: #000;
    font-size: 26px;
}



.btn-map {
    border-radius: 50px !important;
    background-color: #00AEEF !important;

}

.btn-outline-info,
.btn-info {
    border-radius: 50px !important;
}

/* เกี่ยวกับ pagination */
.list-wrapper {
    padding: 15px;
    overflow: hidden;
}

.list-item p {
    margin: 0;
}

.list-wrapper1 {
    padding: 15px;
    overflow: hidden;
}

.list-item1 p {
    margin: 0;
}

.simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.simple-pagination li {
    display: inline-block;
    margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
    color: #FFF;
    background-color: #FF7182;
    border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: #e04e60;
}

.padding-pagination {
    margin-left: 40%;
}

.padding-pagination1 {
    margin-left: 80%;
}

/* .light-theme .current {
    background: linear-gradient(100.15deg, #1896C5 12.48%, #65CDF3 86.59%);
    color: #FFF;
    border-radius: 50%;
} */
/* end เกี่ยวกับ pagination */

.select-style {
    border: none;
    width: 55%;
    text-align: center;
    color: #00AEEF;
}

.search-tags {
    border-color: black !important;
    width: 100% !important;
}

.naval-background-deal {
    background-color: #F5F5F5;
    width: 100%;
    height: 60px;
    padding-left: 80px;
    padding-top: 20px;

}

.text-nav-deal {
    color: #868383;
    text-decoration: none;
}

.nav-background-placeHit {
    background-color: #F5F5F5;
    width: 100%;
    height: 60px;
    padding-left: 80px;
    padding-top: 20px;

}

.text-nav-placeHit {
    color: #868383;
    text-decoration: none;
}

.youtube-width {
    width: 150%;
    height: 350px;
}

@media only screen and (max-width: 1200px) {
    .img-card-placeHit {
        border-radius: 5px;
        width: 100%;
        height: 125px;
        object-fit: cover;
    }

}

@media only screen and (max-width: 1025px) {}

@media only screen and (max-width: 830px) {
    .banner-slider {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .banner-placeHit {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }

    .video-placeHit {
        width: 100%;

        object-fit: cover;

    }

    .padding-footer {
        padding-top: 380px;
    }

    .search-tags {
        border-color: black !important;
        width: 95% !important;
        margin-left: 15px !important;
    }

    .select-style {
        border: none;
        width: 35%;
        text-align: center;
        color: #00AEEF;
    }

    .text-head-content-placeHit {
        margin: auto;
        width: 100%;
        color: #535151;
        text-align: center;
        padding-top: 10px;
    }

    .img-card-placeHit {
        border-radius: 5px;
        width: 100%;
        height: 190px;
        object-fit: cover;
    }

    .youtube-width {
        width: 100%;
        height: 250px;
    }
}


@media (max-width: 780px) {
    .banner-slider {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}


@media only screen and (max-width: 430px) {
    .banner-slider {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .banner-placeHit {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .video-placeHit {
        width: 300px;
        height: 500px;
        object-fit: cover;

    }

    .padding-footer {
        padding-top: 830px;
    }

    .my-slider {
        padding: 0 0px;
    }

    .text-head-content-placeHit {
        font-size: 10px;
        text-align: center;
    }

    .text-head-content-placeHit {
        margin: auto;
        width: auto;
        color: #535151;
        text-align: center;
        padding-top: 10px;
    }

    .nav-background-placeHit {
        background-color: #F5F5F5;
        width: 100%;
        height: auto;
        padding-left: 26px;
        padding-top: 19px;
        padding-bottom: 1px;
    }

    .search-tags {
        border-color: black !important;
        width: 90% !important;
        margin-left: 15px !important;
        margin-top: 20px;
    }
}


@media only screen and (max-width: 361px) {
    .img-card-placeHit {
        border-radius: 5px;
        width: 100%;
        height: 155px;
        object-fit: cover;
    }

}
