

.padding-footer{
    padding-top: 880px;
}
.nav-background-placeHit{
    background-color: #F5F5F5;
    width: 100%;
    height: 60px;
    padding-left: 80px;
    padding-top: 20px;

}
.text-nav-placeHit{
    color: #868383;
    text-decoration: none;
}
.share-news{
    color: #6E6E73;
}
.text-category{
    font-size: 24px;
}
.image-banner{
    width: 1024px;
    height: 500px;
    object-fit:cover;
}

.text-content{
    font-size: 24px;
}
.image-content{
    width: 1024px;
    height: 500px;
    object-fit:cover;
}
.text-address{
    font-size: 20px;
}

.review-background{
    width: 100%;
    height: 500px;
    background-color: #FCF5E1;
}
.align-items-center{
    background-color: #fff;
}
.text-point{
    color: #27AAE1;
    font-size: 50px;
}
.text-total-point{
    font-size: 24px;
    color: #27AAE1;
}
.base-on{
    font-size: 8px;
    color: #6E6E73;
}
.base-on-view{
    font-size: 9px;
    color: #27AAE1;
}
.text-head-point{
    font-size: 12px;
    padding-top: 15px;
}
