body,html{
    font-family: 'Kanit', sans-serif;

  }
  .banner-slider{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
  .padding-under{
    padding-bottom: 80px;
  }
  /* ดีลสุดพิเศษ */
  .specialDeal{
    width: 410px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
  }
  .specialDeal:hover{
    width: 410px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 10px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .img-special-deal {
  width: 90%;
  margin: 0 auto;

  }
  /*end ดีลสุดพิเศษ */
  .line-header{
    margin: auto;
    background-color: #00AEEF;
    width:150px;
    padding-top: 5px;
  }
  .background-cate-place-hit{
      background-color: #E8F9FF;
      width: 100%;
      padding-bottom: 5%;
      padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
      text-align: center;
    }

    .grid-container {
      display: grid;
      gap: 50px 100px;
      grid-template-columns: auto auto auto;
      background-color: #2196F3;
      padding: 180px;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }

    .img-cate-place-hit{
      width:140px;
      height: 140px;
      border-radius:50%;
      border-style: solid ;
      border-width: 2px;
      border-color: black;
    }
    .text-cate-place-hit{
        text-decoration: none;
        color: #00AEEF;

    }

    a{
      text-decoration: none;
    }

    /* <!-- สถานที่ยอดฮิต --> */

    .place-top-destination{
      text-align: center;
      font-size: 16px;
    }.img-top-destination{
      filter: grayscale(50%);
    }

    .text-header-place-hit{
      font-size: 30px;
    }

    .background-cate-place-hit{
      background-color: #E8F9FF;
      width: 100%;
      padding-bottom: 5%;
      padding-top: 3%;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      font-size: 26px;

    }
    .text-content-top-dessination {
      margin: auto;
      width: 60%;
     color: #535151 ;
      text-align: center;
      padding-bottom: 40px;
    }
    .address-place-hit{
        font-size: 16px;
    }
  /* เกี่ยวกับ card สถานที่ยอดฮิต */
  .center {
    display: flex;
    justify-content: center;
  }
  .card {
    max-width: 460px;
    margin: 50px auto;
  }
  /***** Efecto *****/

  .card-with-hover {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 250px;
    border-radius: 30px;
  }
    .card-with-hover:hover {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 252px;
    border-radius: 30px;
    box-shadow: 1px 10px 16px 0 rgba(17, 0, 114, 0.3);
  }

  .card-with-hover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.35s;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
   .card-caption-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    transition: all 0.3s;
  color: #fff;
    transform: translate3d(0);
    will-change: transform;
  }

   .card-caption h2{
    display: block;
    color: #fff;
    margin: 0;
    padding: 1.5rem;

  }
  .card-with-hover:hover > .card-caption h2,p {
    background-color: rgba(255, 255, 255, 0);
    transform: translateY(0%);
  }
  /* เกี่ยวกับ card สถานที่ยอดฮิต */
/* <!--end สถานที่ยอดฮิต --> */

    /* package tour */
    .img-card-packageTour {
      width: 100%;
      height: 15vw;
      object-fit: cover;

  }
  .text-content-packageTour {
    margin: auto;
    width: 60%;
   color: #535151 ;
    text-align: center;
  }

  .best-seller{
    background-color: #00AEEF;
    width: 100px;
    padding: 7px;
    border-radius: 5px;

  }
  .text-card-pakageTour{
    color: #9B9898;
    font-size: 12px;
  }


  .text-address-card-pakageTour{
    color: #9B9898;
    font-size: 12px;
  }
  .text-price-card-pakageTour{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
      text-align:center;
    border: 3px solid red;
    font-size: 15px;
  }
  .text-more-pakageTour{
    text-align: center;
    text-decoration: none;
    color: #242424;
  }
  .br-card-pakageTour{
    display: none;
  }
  .text-activity-card-pakageTour{
    font-size: 12px;
  }
    /*end package tour */



    /*กิจกรรมยอดฮิต Trending Activitiesr */
    .img-trending {
        position: relative;
        max-width: 400px;
        margin: 0 auto;

      }
.img-trending:hover {
        position: relative;
        max-width: 400px;
        margin: 0 auto;
  box-shadow: 1px 10px 16px 0 rgba(0,0,0,0.3);
      }


      .img-trending img {vertical-align: middle;object-fit: cover;}

      .img-trending .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width:260px;
        height:120px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

       .img-trending .content:hover {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #cce7f5;
        width:260px;
        height:160px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .card-trending{
      width:260px;
      height:310px;
      border-radius: 5px;
      }
      .text-map-trending{
        padding-top: 10px;
        font-size: 10px;
      }
      .text-content-trending{
        font-size: 8px;
      }
      .slick-prev:before {
        color: rgb(94, 92, 92) !important;

      }
      .slick-next:before {
        color: rgb(110, 105, 105) !important;

      }
    /*end กิจกรรมยอดฮิต Trending Activitiesr */

/* จองโรงแรม */
    .box-hotel {
        position: relative;
        text-align: center;
        color: white;


      }

      .img-hotel {
        border-radius: 20px;
        height:100px;
        width:75%;
        object-fit: cover;
        /* box-shadow: 5px 10px 8px #888888; */
        box-shadow: 0 0 5px 5px rgb(224, 224, 224);
      }
      .text-right-hotel {
        position: absolute;
        top: 50%;
        left: 79%;
        transform: translate(-50%, -50%);
        font-size: 36px;
       color: #ffff;

      }
      .text-left-hotel {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(-50%, -50%);
        color: #0FA0AB;
        font-size: 40px;
     }
      .button-hotel{
        width: 200px;
        height: 70px;
        border-radius: 20px;
        border-color: #FCB930;
        background-color: #FCB930;
      }
/* end จองโรงแรม */


    /* <!-- Story Tips Guide (Blog) --> */
    .img-card-story {
      width: 100%;
      height: 15vw;
      object-fit: cover;
  }
  .text-content-story{
    margin: auto;
    width: 60%;
   color: black ;
    text-align: center;
    padding-bottom: 40px;
  }
  .img-story{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
     url("https://woodychannel.com/wp-content/uploads/2014/09/gwanphayao-750x476.jpg")no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;;
  }

  .text-place-card-story{
    font-size: 13px;
    color: #868383;
  }
    /* <!-- end Story Tips Guide (Blog) --> */


    /* <!-- ประสบการณ์นักท่องเที่ยว --> */
  .text-content-experience{
  color: #535151;
  font-size: 12px;
  }
  .img-experience{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .star-experience{
    color: yellow;
  }
   /* <!--end ประสบการณ์นักท่องเที่ยว --> *

   /* <!-- บริการเสริม --> */
   .other-service-background{
    background-color: #FCF5E1;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
    text-align: center;
  }

  .img-other-service{
    /* width:50%;
    height: 50%; */
    width:120px;
    height: 120px;
    object-fit: contain;
  /* padding-top:50px; */
  padding-top:40px;
  }
  .text-other-service {
      color: #18272F;
    position: relative;
    text-decoration: none;
    font-size: 10px;
  }

  .card-other-service{
    margin: 10px auto;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    height: 100%;
    transition: 0.3s;
    background-color: #fff;
  }
.card-other-service:hover {
  box-shadow: 1px 10px 16px 0 rgba(0,0,0,0.3);
}

  .card-image{
    text-align: center;
    margin: 2vh 0;
  }
  .card-text{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
   /* <!-- บริการเสริม --> */

   @media only screen and (max-width: 1025px) {
      /*กิจกรรมยอดฮิต Trending Activitiesr */
      .img-trending img {vertical-align: middle;}

      .img-trending .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width:210px;
        height:100px;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .card-trending{
      width:210px;
      height:280px;
      border-radius: 10px;
      }
      .text-map-trending{
        padding-top: 10px;
        font-size: 10px;
      }
      .text-content-trending{
        font-size: 8px;
      }
    /*end กิจกรรมยอดฮิต Trending Activitiesr */


    .img-cate-place-hit {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: black;
    }


   }



    @media only screen and (max-width: 840px) {
        .banner-slider{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .padding-under{
            padding-bottom: 280px;
          }
          .specialDeal {
            width: 300px;
            height: 150px;
            border-radius: 10px;
            object-fit: cover;
        }
      .text-content-packageTour {
        font-size: 16px;
         width: 100%;
         text-align: center;
         color: #535151 ;
         padding-top: 10px;
       }
       .text-content-top-dessination {
        font-size: 16px;
         width: 100%;
         text-align: center;
         color: #535151 ;
         padding-top: 10px;
      }


      .text-address-card-pakageTour{
        color: #9B9898;
        font-size: 12px;
      }

       /*กิจกรรมยอดฮิต Trending Activitiesr */
       .img-trending img {vertical-align: middle;}

       .img-trending .content {
         position: absolute;
         bottom: 0;
         background: rgb(0, 0, 0); /* Fallback color */
         background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
         color: #f1f1f1;
         width:210px;
         height:100px;

         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;
       }
       .card-trending{
       width:210px;
       height:280px;
       border-radius: 10px;
       }
       .text-map-trending{
         padding-top: 10px;
         font-size: 10px;
       }
       .text-content-trending{
         font-size: 8px;
       }
     /*end กิจกรรมยอดฮิต Trending Activitiesr */



     /* จองโรงแรม */
      .text-right-hotel {
        position: absolute;
        top: 50%;
        left: 76%;
        transform: translate(-50%, -50%);
        font-size: 25;
       color: #ffff;

      }
      .text-left-hotel {
        position: absolute;
        top: 50%;
        right: 8%;
        transform: translate(-50%, -50%);
        color: #0FA0AB;
        font-size: 25px;
     }
      .button-hotel{
        width: 120px;
        height: 60px;
        border-radius: 20px;
        border-color: #FCB930;
        background-color: #FCB930;
      }
/* end จองโรงแรม */
   /* <!-- บริการเสริม --> */
   .other-service-background{
    background-color: #FCF5E1;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
    text-align: center;
  }

  .img-other-service{
    /* width:50%;
    height: 50%; */
    width:100px;
    height: 100px;
    object-fit: contain;
  /* padding-top:50px; */
  padding-top:40px;
  }
  .text-other-service {
      color: #18272F;
    position: relative;
    text-decoration: none;
    font-size: 10px;
  }

  .card-other-service{
    margin: 10px auto;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    height: 100%;
    transition: 0.3s;
    background-color: #fff;
  }
.card-other-service:hover {
  box-shadow: 1px 10px 16px 0 rgba(0,0,0,0.3);
}

  .card-image{
    text-align: center;
    margin: 2vh 0;
  }
  .card-text{
    text-align: center;
    font-size: 8px;
  }
   /* <!-- บริการเสริม --> */

/* สถานที่ยอดฮิต Top Destination */
   .card-with-hover {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 200px;
    border-radius: 25px;
  }
  .address-place-hit{
    font-size: 12px;
}
.text-header-place-hit{
    font-size: 25px;
  }
  /* end สถานที่ยอดฮิต Top Destination */
  .responsive-ipad{
    display: none;
  }
    }
    .br-card-pakageTour{
     display: inline-block;
    }

    @media only screen and (max-width: 780px){


        .banner-slider{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .specialDeal {
            width: 290px;
            height: 150px;
            border-radius: 10px;
            object-fit: cover;
        }

 /* จองโรงแรม */
 .text-right-hotel {
    position: absolute;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
    font-size: 25;
   color: #ffff;

  }
  .text-left-hotel {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    color: #0FA0AB;
    font-size: 23px;
 }
  .button-hotel{
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border-color: #FCB930;
    background-color: #FCB930;
  }
/* end จองโรงแรม */
    }


    @media only screen and (max-width: 450px)   {
      body{
        background-color: rgb(255, 255, 255);
        font-family: 'Kanit', sans-serif;
      }
      .banner-slider{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .specialDeal{
        width: 240px;
        height: 120px;
        border-radius: 10px;
        object-fit: cover;
      }

      .padding-under{
        padding-bottom: 700px;
      }
      .line-header{
        margin: auto;
        background-color: #00AEEF;
        width:150px;
        padding-top: 3px;
        border-radius: 2px;
       }

      .img-cate-place-hit{
        width:80px;
        height: 80px;
        border-radius:50%;
        font-size: 8px;
        border-style: solid ;
        border-width: 2px;
        border-color: black;

      }



      .background-cate-place-hit{
        background-color: #E8F9FF;
        width: 100%;
        padding-bottom: 5%;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: 16px;

      }


  /* ดีลสุดพิเศษ */



  /*end ดีลสุดพิเศษ */




        /* package tour */
        .img-card-packageTour {
          width: 100%;
          height: 50vw;
          object-fit: cover;

      }

     /*end package tour */





      /* <!-- สถานที่ยอดฮิต --> */
  /***** Efecto *****/
  .card-with-hover {
       position: relative;
    overflow: hidden;
    text-align: center;
    height: 180px;
    border-radius: 20px;
  }
  .card-with-hover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
   .card-caption h2{
    display: block;
    color: #fff;
    margin: 15;
    padding: 2rem;
  }
  .card-with-hover:hover > .card-caption h2,p {
    background-color: rgba(255, 255, 255, 0);
  }
  .text-header-place-hit{
    font-size: 20px;
  }
  .text-content-top-dessination{
    font-size: 8px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
      /* <!--end สถานที่ยอดฮิต --> */


    /* package tour */
  .text-content-packageTour {
   font-size: 8px;
    width: 100%;
    text-align: center;
    color: #535151 ;
    padding-top: 10px;
  }
    /*end package tour */

    /* Story Tips Guide (Blog) */
    .img-card-story {
      width: 100%;
      height: 50vw;
      object-fit: cover;
  }
    /*Story Tips Guide (Blog) */




/* จองโรงแรม */
.box-hotel {
    position: relative;
    text-align: center;
    color: white;
  }
  .text-hotel{
    font-size: 10px;
          }
  .img-hotel {
    border-radius: 20px;
    height:100px;
    width:75%;
    object-fit: cover;
    /* box-shadow: 5px 10px 8px #888888; */
    box-shadow: 0 0 5px 5px rgb(224, 224, 224);
  }
  .text-right-hotel {
    position: absolute;
    top: 50%;
    left: 79%;
    transform: translate(-50%, -50%);
    font-size: 36px;
   color: #ffff;

  }
  .text-left-hotel {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    color: #0FA0AB;
    font-size: 12px;
 }
  .button-hotel{
    width: 50px;
    height: 80px;
    border-radius: 20px;
    border-color: #FCB930;
    background-color: #FCB930;
  }
/* end จองโรงแรม */



   /* <!-- บริการเสริม --> */
   .other-service-background{
    background-color: #FCF5E1;
    width: 100%;
    padding-bottom: 30%;
    padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
    text-align: center;
  }
   /* <!-- บริการเสริม --> */
    }
