.padding-footer {
    padding-top: 280px;
}

.naval-background-deal {
    background-color: #F5F5F5;
    width: 100%;
    height: 60px;
    padding-left: 80px;
    padding-top: 20px;

}

.text-nav-deal {
    color: #868383;
    text-decoration: none;
}

.card-img-top {
    height: 200px;
    /* set a fixed height for the image container */
    object-fit: cover;
    /* resize the image to cover the container */
}


.js .slider-single>div:nth-child(1n+2) {
    display: none
}

.js .slider-single.slick-initialized>div:nth-child(1n+2) {
    display: block
}



.slider-single img {
    line-height: 10rem;
}

.slider-nav img::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.slider-nav img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-nav .slick-slide {
    cursor: pointer;
}

.slick-slide.is-active img {
    color: #411717;
    /* background-color: #8eb5ee; */
    border: 2px solid #979797;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slick-prev:before {
    color: rgb(94, 92, 92) !important;

}

.slick-next:before {
    color: rgb(110, 105, 105) !important;
}

.image-large-deal {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: contain;
}

.image-small-deal {
    width: 240px;
    height: 160px;
    border-radius: 10px;
    object-fit: contain;
    background: #efefef;
}



.container img {
    vertical-align: middle;
}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 240px;
    height: 140px;
    border-radius: 10px;

}

.content {
    padding-top: 20px;
    font-size: 32px;
    text-align: center;
}

.discout-deal {
    background-color: #FFEAC0;
    width: 5%;
    color: #FCB930;
    text-align: center;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
}


.text-deal {
    font-size: 24px;
}

.text-time-detail-deal {
    background-color: #DDF4FC;
    width: 5%;
    font-size: 24px;
    color: #00AEEF;
    text-align: center;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #00AEEF;
    border-radius: 5px;
}

.add-line-deal {
    background-color: #22B61F;
    width: 90%;
    height: 100px;
    text-align: center;
    padding: 15px;
    font-size: 45px;
    border-radius: 50px;
    margin: auto;
}

.text-add-line-deal {
    color: #ffff;
    text-decoration: none;
}

.total-deal {
    color: red;
    float: right;

}

.price-special {
    color: #E1473D;
    font-size: 36px
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
}

.item {
    width: 20%;
    border: solid 1px #000;
    text-align: center;
}



/* category special deal */
.card-img,
.card-img-bottom,
.card-img-top {
    width: 100%;
    padding: 8px;
}

.img-category {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.text-detail-category {
    font-size: 14px;
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 30px;
    width: 100%;
}

.card:hover {
    box-shadow: rgba(0, 59, 223, 0.35) 0px 5px 15px;
}

.text-head-category {
    color: black;
    text-decoration: none;
}

.text-head-category:hover {
    color: rgb(12, 169, 217);
}


/* category special deal */
@media only screen and (max-width: 2000px) {}

@media only screen and (max-width: 1400px) {
    .image-small-deal {
        width: 200px;
        height: 135px;
        border-radius: 10px;
    }

    .container .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 200px;
        height: 110px;
        border-radius: 10px;
    }

    .content {
        padding-top: 15px;
        font-size: 30px;
        text-align: center;
    }

    .img-category {
        height: 160px;
        width: 100%;
        object-fit: cover;
    }

}

@media only screen and (max-width: 1200px) {
    .image-large-deal {
        width: 100%;
        height: 430px;
        border-radius: 20px;
    }

    .image-small-deal {
        width: 160px;
        height: 95px;
        border-radius: 10px;
    }

    .img-category {
        height: 130px;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 1025px) {
    .image-large-deal {
        width: 100%;
        height: 400px;
        border-radius: 10px;
    }

    .image-small-deal {
        width: 170px;
        height: 100px;
        border-radius: 5px;
    }

    .container img {
        vertical-align: middle;
    }

    .container .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 170px;
        height: 100px;
        border-radius: 5px;

    }

    .content {
        padding-top: 20px;
        font-size: 20px;
        text-align: center;
    }

    .discout-deal {
        background-color: #FFEAC0;
        width: 5%;
        color: #FCB930;
        text-align: center;
        border-radius: 2px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .padding-footer {
        padding-top: 300px;
    }

    .total-deal {
        color: red;
        text-align: right;
        font-size: 20px;
    }

    .img-category {
        height: 130px;
        width: 100%;
        object-fit: cover;
    }
}


@media only screen and (max-width: 821px) {
    .image-large-deal {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .image-small-deal {
        width: 120px;
        height: 65px;
        border-radius: 5px;
    }

    .container img {
        vertical-align: middle;
    }

    .container .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 120px;
        height: 65px;
        border-radius: 5px;

    }

    .content {
        padding-top: 20px;
        font-size: 10px;
        text-align: center;
    }

    .discout-deal {
        background-color: #FFEAC0;
        width: 5%;
        color: #FCB930;
        text-align: center;
        border-radius: 2px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .padding-footer {
        padding-top: 480px;
    }

    .total-deal {
        color: red;
        text-align: right;
        font-size: 20px;
    }

    .slick-track {
        width: 700px;
    }

    .img-category {
        height: 155px;
        width: 100%;
        object-fit: cover;
    }


}




@media only screen and (max-width: 420px) {
    .image-large-deal {
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }

    .image-small-deal {
        width: 100px;
        height: 60px;
        border-radius: 5px;
    }

    .container img {
        vertical-align: middle;
    }

    .container .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100px;
        height: 60px;
        border-radius: 5px;

    }

    .content {
        padding-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    .discout-deal {
        background-color: #FFEAC0;
        width: 5%;
        color: #FCB930;
        text-align: center;
        border-radius: 2px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .padding-footer {
        padding-top: 900px;
    }

    .total-deal {
        color: red;
        float: left;
        font-size: 12px;
    }

    .text-time-detail-deal {
        background-color: #DDF4FC;
        width: 5%;
        font-size: 10px;
        color: #00AEEF;
        text-align: center;
        border-radius: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #00AEEF;
        border-radius: 5px;
    }

    .add-line-deal {
        background-color: #22B61F;
        width: 90%;
        height: 70px;
        text-align: center;
        padding: 15px;
        font-size: 24px;
        border-radius: 50px;
        margin: auto;
    }

    .text-add-line-deal {
        color: #ffff;
        text-decoration: none;
    }

    .naval-background-deal {
        background-color: #F5F5F5;
        width: 100%;
        height: 60px;
        padding-left: 20px;
        padding-top: 20px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 377px) {
    .image-small-deal {
        width: 90px;
        height: 50px;
        border-radius: 5px;
    }

    .container .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 90px;
        height: 50px;
        border-radius: 5px;

    }
    .text-time-detail-deal {
        background-color: #DDF4FC;
        width: 5%;
        font-size: 9px;
        color: #00AEEF;
        text-align: center;
        border-radius: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #00AEEF;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 361px) {
    .image-small-deal {
        width: 80px;
        height: 45px;
        border-radius: 5px;
    }

    .container .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 80px;
        height: 45px;
        border-radius: 5px;
    }

    .price-special {
        color: #E1473D;
        font-size: 30px
    }

}
