
body {
    overflow: hidden;


}

.img-login {
    width: 100%;
    height: 750px;
    object-fit: cover;
}
.img-logo{
    width: 200px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-signIn{
    width: 100%;
    color: #ffff;
    background-color: #00AEEF;
}
.text-remember{
    font-size: 12px;
    color:#262262;
}
.text-forgotPass{
    font-size: 12px;
    float: right;
    padding-top: 5px;
}
.text-phone{
    font-size: 12px;
    color: #646464;
    text-align: center;
}
.text-login{
    font-size: 16px;
    text-align: center;
    color:#262262;
}

.input-email,.input-password{
    width: 100%;
    border-color: #00AEEF;
}
::placeholder{
    overflow: visible;
    font-size: 14px;
    }

/* ส่วนหน้าลืมรหัสผ่าน */
.text-email-forgot{
    font-size: 12px;
    color: #2B2B4C;
}

.icon-sentEmail{
  color: #FCB533;
  font-size: 60px;

}
.text-sentEmail-again{
    font-size: 13px;
    color: #646464;
    text-align: center;
}
.text-sentEmail-again2{
    font-size: 13px;
    color: #FCB533;
    text-align: center;
}


.background-top{
    background-color: #262262;
    width: 600px;
    height: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.background-bottom{
    background-color: #1509c4;
    width: 600px;
    height: 25px;
    display: flex;
    align-items: flex-end;
}
.background-link{
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 120px;
    background-color: #00AEEF;
    border-radius: 20px;
}








@media only screen and (max-width: 2000px) {
    .img-login {
        width: 100%;
        height: 1100px;
        object-fit: cover;
    }
    .form-login {
        width: 360px;
        height: 500px;
        margin: auto;
        margin-top: 219px;
        align-items: center;
    }
}
@media only screen and (max-width: 1600px) {
    .img-login {
        width: 100%;
        height: 800px;
        object-fit: cover;
    }
    .form-login {
        width: 300px;
        height: 500px;
        margin: auto;
        margin-top: 80px;
        align-items: center;

    }


}
@media only screen and (max-width: 1200px) {
    .img-login {
        width: 100%;
        height: 750px;
        object-fit: cover;
        display: none;
    }
    .form-login {
        width: 470px;
        height: 500px;
        margin: auto;
        margin-top: 100px;
        align-items: center;

    }

}
@media only screen and (max-width: 1025px) {
    .img-login {
        width: 100%;
        height: 750px;
        object-fit: cover;
        display: none;
    }
    .form-login {
        width: 470px;
        height: 500px;
        margin: auto;
        margin-top: 280px;
        align-items: center;


    }


}


@media only screen and (max-width: 450px) {
    .img-login {
        width: 100%;
        height: 750px;
        object-fit: cover;
        display: none;
    }
    .form-login{
        width: 300px;
        height: 500px;
      margin: auto;
      margin-top: 50px;
        align-items: center;

    }

}
